.tiptap {
  padding: 1rem;
  padding-bottom: 3rem;
  min-height: 300px;
 flex:1;
 max-height: 100%;
 overflow-y: auto;
 background-color: red;
}
.tiptap:focus{
  outline: none;

}
.tiptap > * + * {
  margin-top: 0.5em;
}
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap-post-editor ul,
.tiptap-post-editor ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
  list-style-position: outside;
}

.tiptap-post-editor ul {
  list-style-type: disc;
}

.tiptap-post-editor ol {
  list-style-type: decimal;
}

.tiptap-post-editor ul ul,
.tiptap-post-editor ul ol,
.tiptap-post-editor ol ul,
.tiptap-post-editor ol ol {
  margin: 0.5rem 0;
  padding-left: 1rem;
  list-style-type: circle;
}

.tiptap-post-editor ul ul ul,
.tiptap-post-editor ul ul ol,
.tiptap-post-editor ul ol ul,
.tiptap-post-editor ul ol ol,
.tiptap-post-editor ol ul ul,
.tiptap-post-editor ol ul ol,
.tiptap-post-editor ol ol ul,
.tiptap-post-editor ol ol ol {
  list-style-type: square;
}

.tiptap-post-editor ul li,
.tiptap-post-editor ol li {
  margin-bottom: 0.5rem;
}

.tiptap-post-editor ul li::marker,
.tiptap-post-editor ol li::marker {
  color: var(--chakra-colors-gray-600);
  font-size: 1em;
}

.tiptap h1,
.tiptap h2,
.tiptap h3,
.tiptap h4,
.tiptap h5,
.tiptap h6 {
  line-height: 1.1;
}

.tiptap h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.tiptap h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.tiptap h3 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.tiptap h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.tiptap h5 {
  font-size: 1.25rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.tiptap h6 {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.tiptap code {
  background-color: var(--chakra-colors-gray-100);
  color: var(--chakra-colors-gray-800);
}

.tiptap pre {
  background: var(--chakra-colors-gray-800);
  color: var(--chakra-colors-white);
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}

.tiptap pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}

.tiptap mark {
  background-color: yellow;
}

.tiptap img {
  max-width: 100%;
  height: auto;
}

.tiptap blockquote {
  padding-left: 1rem;
  border-left: 2px solid var(--chakra-colors-gray-500);
}

.tiptap hr {
  border: none;
  border-top: 2px solid var(--chakra-colors-gray-500);
  margin: 2rem 0;
}

.tiptap a {
  color: var(--chakra-colors-blue-500);
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  .tiptap code {
    background-color: var(--chakra-colors-gray-700);
    color: var(--chakra-colors-gray-200);
  }

  .tiptap pre {
    background: var(--chakra-colors-gray-900);
  }

  .tiptap mark {
    /* background-color: var(--chakra-colors-yellow-700); */
  }

  .tiptap a {
    color: var(--chakra-colors-blue-300);
  }
}