.penstack-post-editor {
  padding: 1rem;
  padding-bottom: 3rem;
  min-height: 450px;
  flex: 1;
  max-height: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: var(--chakra-colors-white);
  --link-color: var(--chakra-colors-brand-500);
  --link-hover-color: var(--chakra-colors-blue-600);
  --white: var(--chakra-colors-white);
  --black: var(--chakra-colors-black);
}
.chakra-ui-dark .penstack-post-editor {
  background-color: var(--chakra-colors-gray-800);
}
@media (prefers-color-scheme: dark) {
  .penstack-post-editor {
    background-color: var(--chakra-colors-gray-800);
  }
}
.penstack-post-editor:focus {
  outline: none;
}
.penstack-post-editor > * + * {
  margin-top: 0.5em;
}
.penstack-post-editor p.is-editor-empty:first-child::before {
  color: #939aa0;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  font-size: 1.2rem;
  pointer-events: none;
}

.penstack-post-editor ul,
.penstack-post-editor ol {
  padding-left: 1.5rem;
  margin: 1rem 0;
  list-style-position: outside;
}

.penstack-post-editor ul {
  list-style-type: disc;
}

.penstack-post-editor ol {
  list-style-type: decimal;
}

.penstack-post-editor ul ul,
.penstack-post-editor ul ol,
.penstack-post-editor ol ul,
.penstack-post-editor ol ol {
  margin: 0.5rem 0;
  padding-left: 1rem;
  list-style-type: circle;
}

.penstack-post-editor ul ul ul,
.penstack-post-editor ul ul ol,
.penstack-post-editor ul ol ul,
.penstack-post-editor ul ol ol,
.penstack-post-editor ol ul ul,
.penstack-post-editor ol ul ol,
.penstack-post-editor ol ol ul,
.penstack-post-editor ol ol ol {
  list-style-type: square;
}

.penstack-post-editor ul li,
.penstack-post-editor ol li {
  margin-bottom: 0.5rem;
}

.penstack-post-editor mark {
  background-color: yellow;
}

.penstack-post-editor hr {
  border: none;
  border-top: 2px solid var(--chakra-colors-gray-500);
  margin: 2rem 0;
}

.penstack-post-editor a {
  color: var(--link-color);
  /* text-decoration: underline; */
}

@media (prefers-color-scheme: dark) {
  .penstack-post-editor {
    --link-color: var(--chakra-colors-brand-300);
  }
}
.penstack-post-editor :first-child {
  margin-top: 0;
}
.penstack-code-block {
  --white: var(--chakra-colors-white);
  --black: var(--chakra-colors-black);
  --comment-quote-color: #616161;
  background: var(--black);
  border-radius: 0.5rem;
  margin: 1.5rem 0;
  padding: 0.75rem 1rem;
  position: relative;
}
.penstack-code-block pre {
  max-height: 450px;
  /* width: 100%; */
  overflow: auto;
  color: var(--white);
  white-space: pre-wrap;
  font-family: "JetBrainsMono", monospace;
}

.penstack-code-block pre code {
  background: none;
  color: inherit;
  font-size: 0.8rem;
  padding: 0;
}

/* Code styling */
.penstack-code-block pre .hljs-comment,
.penstack-code-block pre .hljs-quote {
  color: var(--comment-quote-color);
}

.penstack-code-block pre .hljs-variable,
.penstack-code-block pre .hljs-template-variable,
.penstack-code-block pre .hljs-attribute,
.penstack-code-block pre .hljs-tag,
.penstack-code-block pre .hljs-name,
.penstack-code-block pre .hljs-regexp,
.penstack-code-block pre .hljs-link,
.penstack-code-block pre .hljs-name,
.penstack-code-block pre .hljs-selector-id,
.penstack-code-block pre .hljs-selector-class {
  color: #f98181;
}

.penstack-code-block pre .hljs-number,
.penstack-code-block pre .hljs-meta,
.penstack-code-block pre .hljs-built_in,
.penstack-code-block pre .hljs-builtin-name,
.penstack-code-block pre .hljs-literal,
.penstack-code-block pre .hljs-type,
.penstack-code-block pre .hljs-params {
  color: #fbbc88;
}

.penstack-code-block pre .hljs-string,
.penstack-code-block pre .hljs-symbol,
.penstack-code-block pre .hljs-bullet {
  color: #b9f18d;
}

.penstack-code-block pre .hljs-title,
.penstack-code-block pre .hljs-section {
  color: #faf594;
}

.penstack-code-block pre .hljs-keyword,
.penstack-code-block pre .hljs-selector-tag {
  color: #70cff8;
}

.penstack-code-block pre .hljs-emphasis {
  font-style: italic;
}

.penstack-code-block pre .hljs-strong {
  font-weight: 700;
}
